<div class="content">
    <h2>Katalog Ansicht in App</h2>

    <p>Gallerie</p>

    <p-dropdown [options]="quellenDropDownOptions" [(ngModel)]="selectedQuelle" optionLabel="label" optionValue="value"
    placeholder="Quelle auswaehlen" (onChange)="updateImages($event)" class="my-dropdown"></p-dropdown>

    <p-galleria [value]="selectedQuelleImages?.imagesId" [showIndicators]="true" [showThumbnails]="false" [activeIndex]="activeIndex"
    [containerStyle]="{ 'max-width': '640px' }" (activeIndexChange)="changeIndex($event)">
        <ng-template pTemplate="item" let-item>
            <img [src]="selectedQuelleImages?.baseImageUrl + item" style="width: 100%; display: block;" />
        </ng-template>
    </p-galleria>

    <p-button class="navigationButton" (click)="goToHome()"><i class="pi pi-home"></i></p-button>
</div>