
<div class="content">
    <h1 class="heading">Event Katalog</h1>

    <div class="navigationButtonContainer">
        <p-button class="navigationButton" (click)="goToQuellen()">Quellen</p-button>
        <p-button class="navigationButton" (click)="updateKatalog()">Katalog-Update</p-button>
        <p-button class="navigationButton" (click)="goToKatalog()">Katalog Ansicht</p-button>
        <p-button class="navigationButton" (click)="downloadKatalog()">Download Katalog</p-button>
    </div>
</div>