
.navigationButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigationButtonContainer * {
    margin-bottom: 1em;
}

.p-listbox .p-listbox-list .p-listbox-item {
    background-color: red;
}